/*
body {
    background-color: black;
}
*/

h2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

.outlink {
    cursor: alias; 
}

/*
.header {
    width: 100%;
}
*/

#prev {
    float: right;
}

#next {
    float: right;
}
