body {
    background-color: black;
}


#circle circle {
    fill: none;
    pointer-events: all;
}
 
.group path {
    /*fill-opacity: .25;*/
}
 
path.chord {
    stroke-width: .20px;
}
 
#circle:hover path.fade {
    display: none;
}

.info-box {
    float: right;
    width: 400px;
    height: 500px;
    color: white;
    word-wrap: break-word;
    overflow: scroll;
}

#header {
    height: 80px;
}
